.slider{
	.slide{
		position:relative;
		.mask{
			p{
				display:flex;
				justify-content: center;
				align-items:center;
				color:white;
				font-size:5rem;
				height:100%;
				position: absolute;
				width:100%;
			}
		}
	}
	img{
		width:100%;
	}
}
.slider-wrap{
	.slider{
		.slick-arrow{
			position:absolute;
			height: 2rem;
			top:0;
			bottom:0;
			margin:auto;
			background: none;
    		border-style: none;
    		border: 1px solid black;
    		width: 2rem;
    		&:focus {
  				outline: none;
			}
			&:hover{
				border: 1px solid white;
				color: rgba(235, 0, 0, .5);;
			}
		}
		.fa-arrow-right{
			color:red;
			right: 1vw;
		}
		.slick-prev{
			left:5%;
			z-index: +1;
		}
		.slick-next{
			left:95%;
		}
		.contenidoSlide{
			display: flex;
			height: 100vh;
			align-items:center;
			justify-content: center;
			flex-direction: column;
			position: relative;
			img{
				position: absolute;
				width:100%;
				height: auto;
				z-index: -1;
			}
			.tituloSlide{
				position: absolute;
				left:2rem;
				top:5rem;
				.postSlide{
					text-transform: uppercase;
					text-align: center;
					font-weight: bolder;
					font-size: 4.5rem;
					a{
					    color: white;
   						text-decoration: none;
    					text-shadow: 1px 1px 1px black;
						&:hover{

							font-weight: bold;
							color:rgb(0,0,0);
							text-shadow: 1px 1px 1px white;
						}
					}
				}
			}
			.excerptSlide{
				width: 80%;
				position: absolute;
				bottom:3rem;
				background: rgba(0,0,0,0.5);
				&:hover{
						background: rgba(white,0.5);
						p{

							color:black;
							text-shadow: 1px 1px 1px white;
						}
					}
				p{
					font-weight: bold;
					text-transform: uppercase;
					color:white;
					text-shadow: 1px 1px 1px #000;
					text-decoration:none;
					font-size: 2rem;

				}
			}
		}
	}
}